{% layout none %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <script>
    
    
//<![CDATA[
    (function() {
  function asyncLoad() {
    var urls = ["https:\/\/cdn.getshogun.com\/pixel.js?v=5\u0026shop=thrift-test.myshopify.com","\/\/dyuszqdfuyvqq.cloudfront.net\/assets\/mf_embed.js?mf_tkn=5857553c-06c5-4c6a-b84d-bf60c9aca845\u0026shop=thrift-test.myshopify.com","\/\/dyuszqdfuyvqq.cloudfront.net\/assets\/mf_embed.js?mf_tkn=5857553c-06c5-4c6a-b84d-bf60c9aca845\u0026shop=thrift-test.myshopify.com","https:\/\/www.rewardify.ca\/js\/shopify.min.js?shop=thrift-test.myshopify.com","https:\/\/chimpstatic.com\/mcjs-connected\/js\/users\/0071c18c5dacb87d48487288b\/de9455a089df60289a8762588.js?shop=thrift-test.myshopify.com","\/\/api.hubapi.com\/scriptloader\/v1\/4516313.js?shop=thrift-test.myshopify.com","https:\/\/shopifyorderlimits.s3.amazonaws.com\/limits\/thrift-test.myshopify.com?v=39a\u0026r=20180906230311\u0026shop=thrift-test.myshopify.com","https:\/\/js.smile.io\/v1\/smile-shopify.js?shop=thrift-test.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();

//]]>

    
  </script>
  
</head>
<body>

{% include 'smile-initializer' %}
  
</body>
</html >   
